@{
    ViewBag.Title = "跳蚤市场";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<br />
<br />
<br />
<br />
<p>多加点内容</p>
<p>多加点内容</p>
<p>多加点内容</p>
<p>多加dfafasdf点内容</p>
<p>fasf</p>
<p>多加点内容</p>
<p>fsdf</p>
<br />
<br />
<br />
<br />
<p>多加fsdf点内容</p>
<p>fsdfas</p>
<p>sfsa</p>
