@model MES.Models.UserModel
@using System.Data;
@using System.Xml;
@using MES.Services;
@using MESIII;

<header class="header navbar navbar-fixed-top" role="banner">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="nav-toggle">
                <a href="javascript:void(0);" title=""><i class="icon-reorder"></i></a>
            </li>
        </ul>
        <div id="HeaderTool">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="height: 48px;">
                <img src="@Url.Content("~/assets/img/logo.gif")" alt="logo" />
                <strong>实时二手信息</strong>
            </a>
            <a href="#" class="toggle-sidebar bs-tooltip" data-placement="bottom" data-original-title="Toggle navigation">
                <i class="icon-reorder"></i>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    @{string userpath = ""; if (Session["UserIcon"] == null) { userpath = "default.png"; } else { userpath = Session["UserIcon"].ToString(); }}
                <i><img class="userIcon" src="~/assets/userIcon/@userpath" /></i>
                @if (Session["UserName"] != null)
                {
                    <span class="username">@Session["UserName"].ToString()</span>
                }
                else
                {
                    <span class="username"></span>
                }
                <i class="icon-caret-down small"></i>
            </a>
            <ul class="dropdown-menu" id="userMenu">
                @if (Session["UserName"] == null)
                {
                    <li><a href="#" data-toggle="modal" data-target="#modalLogin"><i class="icon-signin"></i>登陆</a></li>
                    <li><a href="#"><i class="icon-pencil"></i>注册</a></li>
                }
                else
                {
                    <li><a href="#" data-toggle="modal" data-target="#modalPost"><i class="icon-user"></i>发表</a></li>
                    <li><a href="@Url.Action("PostHistory","Manager")"><i class="icon-user-md"></i>个人中心</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:cap_logout();"><i class="icon-key"></i>退出</a></li>
                }
            </ul>
        </li>
    </ul>
</div>
</header>



