<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <div class="article block untagged mb15" id="qiushi_tag_116175279">
        <div class="author clearfix">
            <a href="/users/4781264/" target="_blank" rel="nofollow">
                <img src="http://pic.qiushibaike.com/system/avtnew/478/4781264/medium/20121203074439.jpg" alt="原来爱那么难">
            </a>
            <a href="/users/4781264/" target="_blank" title="原来爱那么难">
                <h2>原来爱那么难</h2>
            </a>
        </div>

        <div class="content">
            再来一个，不割还用。有非典那年，给一亲戚帮忙收麦子，晚上喝的有点多，回家走到半道上实在走不了了，就把自行车放到路边的沟里，头枕着车轱辘睡那了。半夜醒了，一抬头脖子被套住了，一摸才发现谁用我的锁把我的脖子和车轱辘锁一块了，关键是钥匙不知道弄哪了，一直到早上查非典的人从那路过才把我救上来，特别是锯锁的时候，老多人连麦子都不收了来看热闹……

        </div>

        <div class="stats">
            <span class="stats-vote"><i class="number">674</i> 好笑</span>
            <span class="stats-comments">

                <span class="dash"> · </span>
                <a href="/article/116175279" data-share="/article/116175279" id="c-116175279" class="qiushi_comments" target="_blank">
                    <i class="number">28</i> 评论
                </a>

            </span>
        </div>
        <div id="qiushi_counts_116175279" class="stats-buttons bar clearfix">
            <ul class="clearfix">
                <li id="vote-up-116175279" class="up">
                    <a href="javascript:voting(116175279,1)" class="voting" data-article="116175279" id="up-116175279" rel="nofollow">
                        <i class="iconfont" data-icon-actived="󰁡" data-icon-original="󰀟">󰀟</i>
                        <span class="number hidden">710</span>
                    </a>
                </li>
                <li id="vote-dn-116175279" class="down">
                    <a href="javascript:voting(116175279,-1)" class="voting" data-article="116175279" id="dn-116175279" rel="nofollow">
                        <i class="iconfont" data-icon-actived="󰀠" data-icon-original="󰀠">󰀠</i>
                        <span class="number hidden">-36</span>
                    </a>
                </li>
                <li class="comments">
                    <a href="/article/116175279" id="c-116175279" class="qiushi_comments" target="_blank">
                        <i class="iconfont" data-icon-actived="󰁢" data-icon-original="󰀝">󰀝</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="single-share">
            <a class="share-wechat" data-type="wechat" title="分享到微信" rel="nofollow">微信</a>
            <a class="share-qq" data-type="qq" title="分享到QQ" rel="nofollow">QQ</a>
            <a class="share-qzone" data-type="qzone" title="分享到QQ空间" rel="nofollow">QQ空间</a>
            <a class="share-weibo" data-type="weibo" title="分享到微博" rel="nofollow">微博</a>
        </div>
        <div class="single-clear"></div>
    </div>
</body>
</html>
